{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>WhoIsTheCoder | Inicio</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.min.css"%}"/>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
</head>
<body>
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Who is The Coder?</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">"Change the Way you Hack"<span class="sr-only">(current)</span></a></li>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">POLICODERS</a></li>
      </ul>
    </div>
  </div>
</nav>
<blockquote>
  <p>"Organiza, asiste y conoce gente increible"</p>
  <small> <cite title="Source Title">HackForEquality</cite></small>
</blockquote>

    <section class="begin-body">
        <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-5">
      <article class="hacks">
        <h2>Ultimos Eventos</h2>
        <div class="append-ajax-hacks">

        </div>
      </article>
  </div>
      <!--Usuarios-->
      <div class="col-md-5">
      <article class="users">

          <div class="panel panel-primary">
            <div class="panel-heading">
              <h2 class="panel-title">Organizador</h2>
            </div>
            <div class="panel-body">
                <div class="user-facebook">
                  <!--Inicio-->
                  <h4 class="user-name">{{nombre}}</h4>
                  <p class="user-mail">{{email}}</p>
                  <!--Fin-->
                </div>
                <h2>Actividades</h2>
                <p>
                    Organiza hackatones
                </p>
                <span class="button-sec">
                  <p>
                    <a href="/user/coderView">Iniciar</a>
                  </p>
                </span>
            </div>
          </div>

          <div class="panel panel-success">
            <div class="panel-heading">
            <div class="user-coder">
              <h2 class="panel-title">Developer</h2>
            </div>
        </div>
            <div class="panel-body">
                <span class="user-desc">
                    <h2>Actividades</h2>
                    <p>Asiste a hackatones, y enterate de los ultimos eventos, forma tu equipos directamente desde aqui.</p>
                </span>
                <span class="button-sec">
                  <p>
                    <a href="/user/coderView">Iniciar</a>
                  </p>
                </span>
            </div>
          </div>

          <div class="panel panel-info">
            <div class="panel-heading">
              <h2 class="panel-title">Reclutador</h2>
            </div>
            <div class="panel-body">
                <div class="user-recruiter">
                <span>
                  <!--iconos-->
                </span>
                <span class="user-desc">
                  <p>Encuentra gente brillante que te ayude a conseguir ese proyecto que tanto quieres</p>
                </span>
                <span class="button-sec">
                  <p>
                    <a href="/user/reclutadorView">Iniciar</a>
                  </p>
                </span>
            </div>
            </div>
          </div>
      </article>
    </div>
    <div class="col-md-1">
    </div>
    </div>
    </section>
    <footer class="begin-footer">
      <span class="enterprise">Empresa</span>
      <span class="slogan">Slogan</span>
      <span class="contact">Contacto</span>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{%  static "js/app.js"%}"></script>
</body>
</html>
