{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>WhoIsTheCoder | Inicio</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{%  static "css/app.css"%}">
</head>
<body>
    <header class="begin-header">
      <h1>Who is the Coder?</h1>
    </header>
    <section class="begin-body">
      <article class="hacks">
        <h2>Ultimos Eventos</h2>
        <div class="append-ajax-hacks">
        </div>
      </article>
      <!--Usuarios-->
      <article class="users">
        <div class="users-selection">
          <h2>Perfil</h2>
            <div class="user-facebook">
              <!--Inicio-->
              <h4 class="user-name">{{nombre}}</h4>
              <p class="user-mail">{{email}}</p>
              <!--Fin-->
            </div>
          <h2>Actividades</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p>

        </div>
        <div class="user-coder">
          <h2>Developer</h2>
          <span>
            <!--iconos-->
          </span>
          <span class="user-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
            <ul class="users-activities">
              <li class="user-act"></li>
              <li class="user-act"></li>
              <li class="user-act"></li>
            </ul>
          </span>
          <span class="button-sec">
            <p>
              <a href="/user/coderView">Iniciar</a>
            </p>
          </span>
        </div>
        <div class="user-recruiter">
          <h2>Reclutador</h2>
          <span>
            <!--iconos-->
          </span>
          <span class="user-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
            <ul class="users-activities">
              <li class="user-act"></li>
              <li class="user-act"></li>
              <li class="user-act"></li>
            </ul>
          </span>
          <span class="button-sec">
            <p>
              <a href="/reclutador/View">Iniciar</a>
            </p>
          </span>
        </div>
        <div class="user-organizer">
          <h2>Organizador</h2>
          <span>
            <!--iconos-->
          </span>
          <span class="user-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.</p>
            <ul class="users-activities">
              <li class="user-act"></li>
              <li class="user-act"></li>
              <li class="user-act"></li>
            </ul>
          </span>
          <span class="button-sec">
            <p>
              <a href="/organizador/View">Iniciar</a>
            </p>
          </span>
        </div>
      </article>
    </section>
    <footer class="begin-footer">
      <span class="enterprise">Empresa</span>
      <span class="slogan">Slogan</span>
      <span class="contact">Contacto</span>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="{%  static "js/app.js"%}"></script>
</body>
</html>