<!DOCTYPE html>
<html>
<head>
	<title></title>

</head>
<body>
	<header>
	<h1><center>CODER</center></h1>

</header>

<br></br>
<br></br>

<font size="2" face="verdana" color="black" > Github: </font>
<br>

</br>
	<form action="action_page.php">
	  Usuario: <input type="text" name="user">
	</form
<b> 


</b>
<p>
<font size="2" face="verdana" color="black" > Lenguaje que dominas: </font>
<br></br>
<input type="text" name="lenguajesdominados">
</p>

<p>
<font size="2" face="verdana" color="black" > Linkend/Experiencia: </font>

<form action="action_page.php">
  <input list="browsers">
  <datalist id="browsers">
    <option value="Linkened">
    <option value="Experiencia">
  </datalist> 
</form> 
</p>

<p>
<font size="2" face="verdana" color="black" > Nickname: </font>

	<form action="action_page.php">
  	Usuario: <input type="text" name="user">
	</form
</p>

<p>
<font size="2" face="verdana" color="black" > Lugar donde vives: </font>
<br></br>
<input type="text" name="nombredelacaja">
</p>

<p>
<font size="2" face="verdana" color="black" > Remoto/Presencial: </font>
<form action="action_page.php">
  <input list="browsers2">
  <datalist id="browsers2">
    <option value="Remoto">
    <option value="Presencial">
  	</datalist> 
</form>
</p>


<p>
<font size="2" face="verdana" color="black" > Tiempo completo/Medio tiempo: </font>
<form action="action_page.php">
  <input list="browsers3">
  <datalist id="browsers3">
    <option value="Tiempo completo">
    <option value="Medio tiempo">
    </datalist> 
</form>
</p>

</body>
</html>