{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>WhoIsTheCoder | Coders</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{%  static "css/app.css"%}">

</head>
<body>
  <header class="begin-header">
     <h1>Who is the Coder?</h1>
     {{ nombre }}
     {{ nickname }}
     {{ queEs }}
     {{ esCoder }}
     {{ github }}
     {{ linkedin }}
  </header>
  <section class="begin-body">
      <h1>CODERS</h1>
      <h3>Yo soy: <p class="yo_soy"></p></h3>

      <input type="hidden" class="es_coder" value="{{esCoder}}"/>
      <input type="hidden" class="que_es" value="{{queEs}}"/>
      <input type="hidden" class="nickname_val" value="{{nickname}}"/>

      <form action="/user/crearCoder/" class="register" method="POST">
          {% csrf_token %}
          <label for="Github">Escriba su usuario en GitHub (Es único):</label>
          <input type="text" name="Github" id="Github" placeholder="misusuario" maxlength="255" required>
          <label for="Linkedin">Nombre de usuario en Linkendin: (lo puede encontrar en )</label>
          <input type="text" name="Linkedin" id="Linkedin" placeholder="NombreDeUsuario" maxlength="255">
          <label for="Lugar">Escriba su lugar de residencia</label>
          <input type="text" name="Lugar" id="Lugar" placeholder="CDMX" maxlength="100" required>
          <label for="Presencial">Seleccione lo que mejor corresponda:</label>
          <select name="Presencial" id="Presencial" required>
              <option value="">Seleccione una opcion</option>
              <option value="1">Trabajo Presencial</option>
              <option value="2">Remoto</option>
          </select>
          <label for="Tiempo">Seleccione su disponibilidad de horario</label>
            <select name="Tiempo" id="Tiempo" required>
              <option value="">Seleccione una opcion</option>
              <option value="1">Tiempo Completo</option>
              <option value="2">Medio Tiempo</option>
          </select>
          <input type="submit" id="Enviar" value="Let's Hack ;)">
      </form>
      <article class="info-users">
        <h2>Información Personal</h2>
        <p>Nickname: {{nickname}}</p>
        <p>Nombre: {{nombre}}</p>
      </article>
      <article class="hacks">
        <h2>Ultimos Eventos</h2>
        <div class="append-ajax-hacks">
        </div>
      </article>
      <article class="container-apis">
        <!--Ajax-->
      </article>
      <article class="hacks-participacion">
        <!--Ajax-->
      </article>
  </section>
  <footer class="begin-footer">
      <span class="enterprise">Empresa</span>
      <span class="slogan">Slogan</span>
      <span class="contact">Contacto</span>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="{%  static "js/coders.js"%}"></script>
</body>
</html>
