{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>WhoIsTheCoder | Hackaton</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{%  static "css/app.css"%}">
  </head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Who is The Coder?</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">"Change the Way you Hack"<span class="sr-only">(current)</span></a></li>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">POLICODERS</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <section class="begin-body">
     <div class="row">
         <div class="col-md-1">
         </div>
        <div class="hack-data  col-md-10">
          <input type="hidden" value="{{idHackaton}}" id="id_hack"/>
          <!--Ajax-->
        </div>
        <div class="col-md-1">
        </div>
    </div>
    <div class="row">
        <div class='col-md-1'></div>
        <div class="hackaton-proyectos">
          <!--Ajax -->
        </div>
        <div class='col-md-1'></div>
        </div>
    </div>
  </section>
  <footer class="begin-footer">
    <span class="enterprise">Empresa</span>
    <span class="slogan">Slogan</span>
    <span class="contact">Contacto</span>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{%  static "js/hackaton.js"%}"></script>
</body>
</html>
