<!DOCTYPE html>
<html>
<head>
	<title>Who is the Coder?</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
	<header id="m-header">
		<a id="logo-header" href="">
			<span class="moto"></span>
		</a>
		<nav>
			<ul>
				<li><a href="">Quienes somos?</a></li>
				<li><a href="">Empresas</a></li>
				<li><a href="">Testimonios</a></li>
				<li><a href="user/signup">Registrate</a></li>
				<li><a href="user/login">Inicia Sesion</a></li>
			</ul>
		</nav>
	</header>
	<section>
		<article>
			<h2>Who is the Coder? es una plataforma que conecta coders con emprendedores que necesitan gente con talento para materializar ideas que cambien al mundo.</h2>
			<p></p>
			<h3>La mejor manera de contactar a tu proximo coder/emprendedor.</h3>
		</article>
	</section>
	<p></p>
    <div>
        <form action="" method="post">
            <fieldset>
                <legend>Call to Action</legend>
                <label for="Nombre">Hi (type your name here)</label>
                <input type="text" name="Nombre" id="Nombre" required maxlength="50">
                <label for="Email">Recibe un ebook gratis!!</label>
                <input type="email" name="email" id="email" required maxlength="100">
                <button>Registrate aqui</button>
            </fieldset>
        </form>
    </div>
	<footer>
		Creado por PoliHacks con Python y Django.
	</footer>
</body>
</html>
