{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>WhoIsTheCoder | Inicio Reclutador</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
</head>
<body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Who is the Coder?</a>
        </div>
        <ul class="nav navbar-nav">
          <li ><a href="/user/login">Inicio Sesiòn</a></li>
           <li ><a href="/user/signup">Registro</a></li>
          </li>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">PoliCoders</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="jumbotron">
  <h1>Who Is The Coder?</h1>
  <p>Who is the Coder? es una plataforma que conecta coders con emprendedores que necesitan gente con talento para materializar ideas que cambien al mundo.</p>
<p>La mejor manera de contactar a tu proximo coder/emprendedor.</p>
</div>
	<p></p>
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <form action="" method="post">
                <fieldset>
                    <legend>Change the way you Hack</legend>
                    <label for="Email" class="form-control">Dejanos tu email y regalanos un tweet para descargar algo especial</label><br>
                    <input type="email" class="text-center form-control" name="email" id="email" required maxlength="100" autofocus placeholder="soyincreible@example.com"><br>
                    <div id="contenedor-tweet" class="container">
                        <script async="async" class="" id="button_49771a26-5456-416f-bc49-e5195bc158d0" src="//www.paywithatweet.com/embeds/49771a26-5456-416f-bc49-e5195bc158d0" charset="utf-8"></script>
                    </div>
                </fieldset>
            </form>
            <div class="col-md-3"></div>
        </div>
    </div>
  <footer class="begin-footer">
      <span class="enterprise">Empresa</span>
      <span class="slogan">Slogan</span>
      <span class="contact">Contacto</span>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</html>
