{% load static from staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>WhoIsTheCoder | Login</title>
  <meta charset="utf-8" />
  <meta name="description" content="Ingresa y comienza a crear, organizar y descubrir código."/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link rel="stylesheet" type="text/css" href="https://bootswatch.com/paper/bootstrap.min.css"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{%  static "css/app.css"%}">
</head>
<body>
	<header>
		<h1><center>WHO IS THE CODER?</center></h1>
	</header>
    <div class="container">
	<form method="post" action="/user/loginUser/">
		{% csrf_token %}


        <h2 class="form-signin-heading">Inicio de Sesion</h2>
        <label for="nickName" class="sr-only">Nickname</label>
        <input type="text" name="nickName" id="nickName" class="form-control" placeholder="Example1" required autofocus>
        <label for="contraName" class="sr-only">Password</label>
        <input type="password" name="contraName" id="contraName" class="form-control" placeholder="Password" required>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
      </form>
    </div> <!-- /container -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script type="text/javascript" src="https://bootswatch.com/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="{%  static "js/proyecto.js"%}"></script>
</body>
</html>
