{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
  <title>WhoIsTheCoder | Inicio Reclutador</title>
  <meta charset="utf-8" />
  <meta name="description" content="Organiza un hackaton, participa como Developer o encuentra talento dentro "/>
  <meta name="author" content="Polycoders" />
  <meta name="robots" content="all"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
  <link rel="stylesheet" type="text/css" href="{% static "css/normalize.css"%}"/>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous"/>
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'/>
  <link rel="stylesheet" type="text/css" href="{%  static "css/app.css"%}">
</head>
<body>
  <header class="begin-header">
     <h1>Who is the Coder?</h1>
     {{ nombre }}
     {{ nickname }}
     {{ queEs }}
     {{ esReclutador }}
     {{ empresa }}
     {{ lugarEmpresa }}
  </header>
      <input type="hidden" class="es_reclutador" value="{{esReclutador}}"/>
      <input type="hidden" class="que_es" value="{{queEs}}"/>
      <input type="hidden" class="nickname_val" value="{{nickname}}"/>
  <section class="begin-body">
      <h1>Reclutador</h1>
      <form action="/user/crearReclutador/" name="registroR" class="register" method="POST" id="registro">
          {% csrf_token %}
          <!--<fieldset name="Registro" form="registro">-->
              <!--
              <label for="Presencial">Seleccione lo que mejor corresponda:</label>
              <select name="Presencial" id="Presencial" required>
                  <option value="">Seleccione una opcion</option>
                  <option value="1">Trabajo Presencial</option>
                  <option value="2">Remoto</option>
              </select>
              <label for="Tiempo">Seleccione su disponibilidad de horario</label>
                <select name="Tiempo" id="Tiempo" required>
                  <option value="">Seleccione una opcion</option>
                  <option value="1">Tiempo Completo</option>
                  <option value="2">Medio Tiempo</option>
              </select>
          -->
             <label for="idEmpresa">Escribe el nombre de tu empresa: </label>
             <input type="text" name="empresa" id="idEmpresa" value="" placeholder="scope">

             <label for="idLugarEmpresa">Escribe donde se ubica tu empresa: </label>
             <input type="text" name="lugarEmpresa" id="idLugarEmpresa" value="" placeholder="Calle Dinamarca, ....">

              <input type="hidden" name="Primera" id="Primera" value="1">
              <input type="submit" id="Enviar" value="Let's Hack ;)">
          <!--</fieldset>-->
      </form>
      <article class="hacks">
        <h2>Proximos Eventos</h2>
        <div class="append-ajax-hacks">
        </div>
      </article>
      <article class="hacks-buscados">

      </article>
      <!-- Buscador -->
          <form action="resultados.html" class="register" method="get" id="busqueda">
            <fieldset name="Busqueda_fieldset" form="registro">
                <legend>Find something</legend>
                  <label for="keyword">Ingrese las keywords a buscar</label>
              <input type="search" class="keyword" name="keyword" id="keyword" required maxlength="15" placeholder="Android">
                  <span class="typeahead-button">
                      <input type="submit" class="typeahead-search-icon" id="Buscar" value="Find something interesting">
                  </span>

              </fieldset>
          </form>
  </section>
       <article class="resultados-busqueda">

      </article>
  <!-- Aquí se muestran los resultados de la busqueda-->
    <article class="resultados-busqueda">
    </article>
  <footer class="begin-footer">
      <span class="enterprise">Empresa</span>
      <span class="slogan">Slogan</span>
      <span class="contact">Contacto</span>
  </footer>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{%  static "js/reclutadores.js"%}"></script>
  <script type="text/javascript" src="{%  static "js/resultados.js"%}"></script>
</body>
</html>
